.outer {
    background-color: #e8df9e;
    margin: 0;
    border: 0;
}

.xyloTileLow {
    width: 15vw;
    min-width: 40px;
    height: 52vh;
    border: 0;
    background-image: url("../assets/minced-meat-g6d3c099b7_1920.jpg");
    background-size: cover;
}

.xyloTileMid {
    width: 15vw;
    min-width: 40px;
    height: 52vh;
    border: 0;
    background-image: url("../assets/animal-print-ge482d233f_1920.jpeg");
    background-size: cover;
}

.xyloTileHigh {
    width: 15vw;
    min-width: 40px;
    height: 52vh;
    border: 0;
    background-image: url("../assets/sausage-g568279b74_1920.jpg");
    background-size: cover;
    background-position-x: center;
}

.xylo {
    padding: 20vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #e8df9e;
}

ul {
    margin: 0;
    display: flex;
    list-style: none;
    background-color: #e4d24d;
}

li {
    margin: 0;
    padding: 0;
}

.nav-element {
    background-color: #e4d24d;
    border: 0;
    padding: 10px;
    font-size: 30px;
}

.nav-element:hover {
    background-color: #c9b311;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 80vw;
    height:36px;
    margin: 5px;
}

label {
    display: block;
    background-color: #e4d24d;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin: 5px;
    width: 80vw;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-radius: 4px;
}

input[type="radio"]:checked + label {
    background-color:rgb(212, 85, 0);
    border-color: rgb(204, 145, 68);
}

form p {
    width: 75vw;
    padding: 2vw;
    margin: 0 1vw;
    background-color: rgba(146, 3, 3, 0.637);
    border-radius: 4px;
}

.correct {
    background-color: rgba(3, 146, 46, 0.637);
}

